/* NAVBAR START*/
.navbar{
    display: flex;
    justify-content: flex-end;
    justify-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10
}

.navlist{
    display: flex;
    margin-top: 1rem;
}

.navbar-icon{
    padding: 0 4px;
    white-space: nowrap;
    font-size: 13px;
    font-family: Arial, sans-serif;
}
.sign-in-icon{
    margin-right: 15px;
    background-size: 32px 32px;
    border-radius: 50px;
    height: 32px;
    width: 32px;
}

.apps-icon{
    margin-top: 5px;
    margin-right: 10px;
    background-size: 32px 32px;
    height: 24px;
    width: 24px;
    padding: 0 4px;
}

#gmail-link{
    margin-top: 7px;
    text-decoration: none;
    line-height: normal;
    padding-left: 15px;
    color: rgba(0,0,0,0.87);
}

#images-link{
    margin-top: 7px;
    text-decoration: none;
    line-height: normal;
    padding-right: 15px;
    padding-left: 15px;
    color: rgba(0,0,0,0.87);
}

/*  Image  */

.logo-div{
    margin-top: 15rem;
}

.logo{
    height: 92px;
    width: 272px;
}
/* SEARCH-BOX */
.search-box-div{
    padding-top: 24px;

}
.search-box{
    box-sizing: border-box;
    width: 584px;
    height: 46px;
    max-width: 584px;
    border:1px solid #dcdcdc;
    border-radius: 24px;
    box-shadow: none;
}

/* Buttons */

#buttons{
    display: flex;
    flex-direction: row;
    padding-top: 18px;
    
}


.button{
    box-sizing: content-box;
    margin: 11px 4px;
    width: 127.367px;
    height: 36px;
    padding: 0px 16px;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    background-color: #f8f9fa;
    line-height: 27px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    color: #3c4043;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

#language{
    font-size: small;
    text-align: center;
    margin-top: 20px;
    
}

body{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: arial, sans-serif;
    font-size: 14px;
    color: #222;
}


a { 
    color: blue;
    text-decoration: none;
}

a.navbar-icon{ color: rgba(0,0,0,0.87);}
a.navbar-icon:visited { text-decoration: none; color: rgba(0,0,0,0.87); }
a.navbar-icon:hover { text-decoration: none; color:rgba(0,0,0,0.87); }
a.navbar-icon:focus { text-decoration: none; color:rgba(0,0,0,0.87); }
a.navbar-icon:hover, a.navbar-icon:active { text-decoration: none; color:rgba(0,0,0,0.87) }